<%layout("Layouts/boilerplate")%>
<h3 class="listing-heading">Add New Listing</h3>
<div class="row">
  <div class="col-8 offset-2">
    <form action="/listings" method="POST" novalidate class="needs-validation">
      <div class="input-div">
        <label for="title" class="form-label">Title</label>
        <input
          name="listings[title]"
          type="text"
          placeholder="enter a catchy title"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">
          Please enter a title for the listing.
        </div>
      </div>

      <div class="input-div">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listings[description]"
          class="form-control"
          required
        ></textarea>
        <div class="valid-feedback">Description looks good.</div>
        <div class="invalid-feedback">Please provide a brief description.</div>
      </div>

      <div class="input-div">
        <label for="image" class="form-label">Image Link</label>
        <input
          type="url"
          name="listings[image]"
          placeholder="Enter image url / link"
          class="form-control"
        />
        
      </div>

      <div class="row">
        <div class="col-md-4 input-div">
          <label for="price" class="form-label">Price</label>
          <input
            name="listings[price]"
            placeholder="eg: 1200"
            class="form-control"
            required
            type="number"
          />
          <div class="valid-feedback">Valid price.</div>
          <div class="invalid-feedback">
            Please enter a valid price (numbers only).
          </div>
        </div>

        <div class="col-md-8 input-div">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            name="listings[country]"
            placeholder="enter country"
            class="form-control"
            required
          />
          <div class="valid-feedback">Country name looks good.</div>
          <div class="invalid-feedback">Please enter a valid country name.</div>
        </div>
      </div>

      <div class="input-div">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          name="listings[location]"
          placeholder="enter location"
          class="form-control"
          required
        />
        <div class="valid-feedback">Location looks good.</div>
        <div class="invalid-feedback">Please enter the location.</div>
      </div>

      <button class="btn btn-danger">Add</button>
    </form>
  </div>
</div>
